*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(206, 203, 199);
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.block__item1, .block__item2{
    width: 200px;
    height: 200px;
}
.block__item1{
    background-color: rgb(105, 96, 146);
}
.block__item2{
    background-color: rgb(96, 146, 115);
}